@font-face {
    font-family: quicksand;
    src: url(../fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}
@font-face {
    font-family: secular-one;
    src: url(../fonts/Secular_One/SecularOne-Regular.ttf);
}
@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: quicksand, sans-serif;
    color: #fdfefe;
    scroll-behavior: smooth;
    scroll-padding: 5rem;
}
.card {
    scroll-padding: 20rem;
}
p {
    font-size: 1.6rem;
}
body {
    background: radial-gradient(at top left, #e90d0d 0%, #121313 100%), url(../../media/akatsuki-background.jpg);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    width: 100%;
    /* max-width: 1400px; */
    min-height: 100vh;
}
/* header */
nav {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #fdfefe;
    border-bottom: #fdfefe81 3px solid;
    background: #00000041;
    backdrop-filter: blur(5px);
    position: sticky;
    top: 0;
    z-index: 999;
}
@media screen and (max-width: 900px) and (orientation: landscape) {
    nav {
        padding: 30px 0;
    }
}
.navigation-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;
}
.logo {
    background-size: 70%;
    background-position: center;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: secular-one, sans-serif;
    -webkit-text-stroke: #fdfefe 0.7px;
    padding: 0 10px;
    border-radius: 10px;
}
@media screen and (max-width: 900px) and (orientation: portrait) {
    .logo {
        font-size: 30px;
    }
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}
.menu-item {
    margin-left: 15px;
    list-style: none;
    transition: all 0.4s ease-in-out;
    font-size: 1.2rem;
}
.menu-item a {
    text-decoration: none;
    color: inherit;
}
.menu-item:hover{
    color: red;
    text-shadow: 0 0 5px red;
    scale: 1.1;
    font-weight: 600;
}
@media screen and (max-width: 900px) {
    .navigation-container {
        padding: 0 10px;
    }
    .menu {
        display: grid;
        position: absolute;
        top: -1000px;
        left: 0;
        width: 100%;
        background: #0d0d0d;
        padding: 30px 0;
        transition: all 0.4s ease-in-out;
        opacity: 0;
    }
    .drop-active {
        top: 103%;
        opacity: 1;
    }
    .menu-item{
        margin: 20px auto;
    }
    .menu-item:hover{
        color: red;
        font-weight: 600;
    }
    .menu-toggle {
        width: fit-content;
        height: fit-content;
        background: transparent;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
    }
    .bar {
        width: 35px;
        height: 3px;
        background: #fdfefe;
        border-radius: 10px;
        display: block;
        margin: 6px auto;
        transition: all ease-in-out 0.4s;
    }
    .toggle-active .bar:nth-child(2){
        opacity: 0;
    }
    .toggle-active .bar:nth-child(1){
        transform: translateY(9px) rotate(45deg);
    }
    .toggle-active .bar:nth-child(3){
        transform: translateY(-9px) rotate(-45deg);
    }
}
@media screen and (max-width: 900px) and (orientation: landscape){
    .menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
.featured-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* max-width: 1300px; */
    margin: auto;
}
.featured-section h3 {
    font-size: 2rem;
    text-decoration: underline;
    text-transform: uppercase;
}
.featured-section .card-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}
/* scrollbar still in consideration would have to go back to it in the future */
/* 24th November- still don't think I would use it anymore but would remain as a reference for future projects */
/* .card-section::-webkit-scrollbar {
    height: 1vh;
}
.card-section::-webkit-scrollbar-thumb {
    background: #fdfefe;
    border-radius: 10px;
}
.card-section::-webkit-scrollbar-track {
    background: #0d0d0d;
    border-radius: 10px;
    width: 50%;
} */
::-webkit-scrollbar {
    width: 1vw;
    background: #0d0d0d;
}
::-webkit-scrollbar-thumb{
    background: #fdfefe;
    border-radius: 10px;

}
::-webkit-scrollbar-track{
    background: #0d0d0d;
    border-radius: 10px;
}

.featured-section h3 {
    text-align: center;
    font-size: 24px;
}
.featured-section .card-section .card {
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    margin: 20px;
    transition: all 0.4s ease-in-out;
    background: #fdfefe41;
    backdrop-filter: blur(5ps);
    padding: 30px;
    border-radius: 10px;
    border: 1px solid;
}
.featured-section .card-section .card:hover {
    scale: 1.1;
    box-shadow: 0px 0px 30px #fdfefe;
}
.featured-section .card-section .card .image {
    width: 200px;
    height: 200px;
    margin: 10px auto;
    overflow: hidden;
}
.featured-section .card-section .card .image img {
    width: 100%;
    height: 100%;
}
.download-btn {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    background: #fdfefe;
    color: #0d0d0d;
    font-weight: 600;
    letter-spacing: 1px;
    width: 200px;
    margin: 10px auto 0 auto;
    transition: all 0.3s ease-in-out;
}
.featured-section .card-section .card:hover .download-btn {
    animation: bounce infinite 1s alternate cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
@keyframes bounce {
    50% {
        transform: translateY(-5px);
    }
}
.featured-section .card-section .card .download-btn:hover {
    box-shadow: 2px 2px 5px #fdfefe;
    animation: none;
}
.youtube-video {
    width: 853px;
    height: 480px;
    margin: 40px auto;
}
@media screen and (max-width: 900px){
    .trailer1 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .youtube-video{
        width: 90%;
        height: 250px;
        margin: 30px auto;
    }
}
.brief {
    width: 70%; 
    text-align: center;
    font-size: 1.2rem;
    margin: 10px auto;
}



/* footer - note: not done yet and still have a lot of work to handle but the general look is okay */
footer {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #fdfefe21;
    backdrop-filter: blur(5px);
}
footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 50px;
    border-top: 2px solid #fdfefe;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
}
footer .container .logo-mini {
    font-family: secular-one, sans-serif;
    font-size: 30px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: #fdfefe 0.5px;
}
@media screen and (max-width: 900px) and (orientation: portrait) {
    footer .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        }
        footer .container a {
            display: block;
            margin: 5px auto;
            text-align: center;
        }
    }

    
    
    
    /* styles for the various pages- creating a template and then running with it */
    
    .page-header {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        width: 90%;
        margin: 20px auto;
        height: fit-content;
    }
    .page-header .image-container {
        width: 60%;
        height: auto;
    }
    .page-header .image-container img {
        width: 100%;
    }
    .page-header .caption {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: auto;
    }
    @media screen and (max-width: 900px) {
        .page-header {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .page-header .image-container {
            width: 95%;
        }
        .page-header .caption {
            width: 95%;
            margin: 10px auto;
            padding: 5px;
            text-align: center;
        }
    }
    
    
    /* episode cards */
    /* was considering having pics and stuff on it but having a real change of heart right now */
    .season {
        display: flex;
        align-items: stretch;
        justify-content: space-evenly;
    }
    .card-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 100%;
        padding: 0 50px;
    }
    .ep-cards {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
        border: 1px solid;
        margin: 5px;
        transition: all 0.3s ease-in-out;
        cursor: default;
    }
    .ep-cards:hover {
        transform: translateY(-5px);
    }
    .ep-cards .ep-title{
        margin: 20px auto;
    }
    .ep-cards .download-btn:hover {
        background: transparent;
        border: 1px solid #fdfefe;
        color: #fdfefe;
        /* transition: all 0.3s ease-in-out; */
    }
        @media screen and (max-width: 900px) {
            .card-section{
                grid-template-columns: 1fr 1fr 1fr;
                width: 100%;
            }
            .anime-title-index {
                display: none;
            }
        }
        @media screen and (max-width: 400px) {
            .card-section {
                grid-template-columns: 1fr 1fr;
            }
        }

    .season-title {
        text-align: center;
        font-size: 3.5rem;
        font-family: montserrat, sans-serif;
        text-transform: uppercase;
        margin-top: 20px;
    }
    .caption p{
        font-size: 1.1rem;
    }







    /* == this is for pull-up.html == */
    section.pull-ups {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 40px;
    }
    .pull-up {
        height: 400px;
        width: 400px;
        border: 1px solid;
        margin: 20px;
        transition: all 0.4s ease-in-out;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        font-size: 1.4rem;
        text-decoration: none;
        font-family: montserrat, sans-serif;
        border-radius: 10px;
    }
    @media screen and (max-width: 900px) {
        .pull-up {
            width: 300px;
            height: 300px;
            margin: 15px;
        }
    }
    .pull-up:hover {
        transform: translateY(-10px);
    }
    .mha-pull{
        background: url(../../media/deku\ -\ square.jpg) #12131371;
        background-blend-mode: multiply;
        background-size: cover;
        background-position: center;
        position: relative;
    }
    .bleach-pull {
        background: url(../../media/Ichigo\ Kurosaki\ -\ square.jpg) #12131371;
        background-blend-mode: multiply;
        background-size: cover;
        background-position: right;
        position: relative;
    }
    .spy-x-family-pull {
        background: url(../../media/anya-square.jpg) #12131371;
        background-blend-mode: multiply;
        background-size: cover;
        background-position: center;
        position: relative;
    }
    .one-punch-man-pull {
        background: url(../../media/saitama-opm.jpg) #12131371;
        background-blend-mode: multiply;
        background-size: cover;
        background-position: center;
        position: relative;
    }