@font-face {
    font-family: quicksand;
    src: url(../fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}
@font-face {
    font-family: secular-one;
    src: url(../fonts/Secular_One/SecularOne-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: quicksand, sans-serif;
    color: #fdfefe;
    scroll-behavior: smooth;
}
body {
    background: radial-gradient(at top left, #e90d0d 0%, #121313 100%), url(../../media/akatsuki-background.jpg);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
/* header */
nav {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1400px;
    color: #fdfefe;
    border-bottom: #fdfefe81 3px solid;
    background: #00000041;
    backdrop-filter: blur(5px);
    position: sticky;
    top: 0;
    z-index: 999;
}
.navigation-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;
}
.logo {
    /* background: url(../../media/akatsuki-background.jpg); */
    background-size: 70%;
    background-position: center;
    /* -webkit-background-clip: text;
    -moz-background-clip: text;*/
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: secular-one;
    -webkit-text-stroke: #fdfefe 0.1px;
    padding: 0 10px;
    border-radius: 10px;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}
.menu-item {
    margin-left: 15px;
    list-style: none;
    transition: all 0.4s ease-in-out;
    font-size: 1.2rem;
}
.menu-item a {
    text-decoration: none;
    color: inherit;
}
.menu-item:hover{
    color: red;
    text-shadow: 0 0 5px red;
    scale: 1.1;
    font-weight: 600;
}
@media screen and (max-width: 900px) {
    .navigation-container {
        padding: 0 10px;
    }
    .menu {
        display: grid;
        position: absolute;
        top: -1000px;
        left: 0;
        width: 100%;
        background: #0d0d0d;
        padding: 30px 0;
        transition: all 0.4s ease-in-out;
    }
    .drop-active {
        top: 107%;
    }
    .menu-item{
        margin: 20px auto;
    }
    .menu-item:hover{
        color: red;
        font-weight: 600;
    }
    .menu-toggle {
        width: fit-content;
        height: fit-content;
        background: transparent;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
    }
    .bar {
        width: 35px;
        height: 3px;
        background: #fdfefe;
        border-radius: 10px;
        display: block;
        margin: 6px auto;
        transition: all ease-in-out 0.4s;
    }
    .toggle-active .bar:nth-child(2){
        opacity: 0;
    }
    .toggle-active .bar:nth-child(1){
        transform: translateY(9px) rotate(45deg);
    }
    .toggle-active .bar:nth-child(3){
        transform: translateY(-9px) rotate(-45deg);
    }
}

.headliner {
    width: 100%;
    margin: 20px auto;
}
.headliner .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto;
}
.headliner .content .image {
    width: 60%;
}
.headliner .content .image img {
    width: 100%;
}
.headliner .content .sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: 1.2rem;
    width: 30%;
}
.button {
    margin: 20px auto;
    text-transform: uppercase;
    background: #fdfefe;
    color: #e90d0d;
    width: fit-content;
    text-align: right;
    padding: 10px;
    font-weight: 600;
    text-decoration: none;
    border-right: 0.5px solid #fdfefe;
    border-bottom: #fdfefe 0.5px solid;
    transition: all 0.3s ease-in-out;
}
.button:hover {
    scale: 1.1;
    box-shadow: 2px 2px 10px #fdfefe,
                3px 3px 20px #e90d0d;
}
@media screen and (max-width: 900px) {
    .headliner .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .headliner .content .image {
        width: 80%;
    }
    .headliner .content .sidebar {
        width: 100%;
        margin: 20px auto;
    }
    .headliner .content .sidebar p {
        width: 80%;
        margin: auto;
    }
}
.featured-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1300px;
    margin: auto;
}
.featured-section h3 {
    font-size: 2rem;
    text-decoration: underline;
    text-transform: uppercase;
}
.card-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}
.card-section::-webkit-scrollbar {
    height: 1vh;
}
.card-section::-webkit-scrollbar-thumb {
    background: #fdfefe;
    border-radius: 10px;
}
.card-section::-webkit-scrollbar-track {
    background: #0d0d0d;
    border-radius: 10px;
    width: 50%;
}
.featured-section h3 {
    text-align: center;
    font-size: 24px;
}
.featured-section .card-section .card {
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    margin: 20px;
    transition: all 0.4s ease-in-out;
    background: #fdfefe41;
    backdrop-filter: blur(5ps);
    padding: 30px;
    border-radius: 10px;
    border: 1px solid;
}
.featured-section .card-section .card:hover {
    scale: 1.1;
    box-shadow: 0px 0px 30px #fdfefe;
}
.featured-section .card-section .card img {
    width: 200px;
    height: 200px;
    margin: 10px auto;
}
.featured-section .card-section .card .download-btn {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    background: #fdfefe;
    color: #0d0d0d;
    font-weight: 600;
    letter-spacing: 1px;
    width: 200px;
    margin: 10px auto 0 auto;
    transition: box-shadow 0.3s ease-in-out;
}
.featured-section .card-section .card:hover .download-btn {
    animation: bounce infinite 1s alternate cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
@keyframes bounce {
    50% {
        transform: translateY(-5px);
    }
}
.featured-section .card-section .card .download-btn:hover {
    box-shadow: 2px 2px 5px #fdfefe;
    animation: none;
}
.youtube-video {
    width: 853px;
    height: 480px;
    margin: 40px auto;
}
@media screen and (max-width: 900px){
    .trailer1 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .youtube-video{
        width: 90%;
        height: 250px;
        margin: 30px auto;
    }
}
footer {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #fdfefe21;
    backdrop-filter: blur(5px);
}
footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 50px;
    border-top: 2px solid #fdfefe;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
}
footer .container .logo-mini {
    font-family: secular-one;
    font-size: 30px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: #fdfefe 0.1px ;
}